{% extends "base.html" %}

{% block title %}
About - Student Management System
{% endblock %}

{% block content %}

<div class="about-container">

<h1>About Student Management System</h1>

<p>
    The Student Management System is a web-based application
    developed using Flask and MySQL to manage student information
    efficiently.
</p>


<div class="about-card">

    <h2>About the Project</h2>

    <p>
        This application allows users to add, view, update,
        search, and delete student records.
    </p>

</div>


<div class="about-card">

    <h2>Technologies Used</h2>

    <div class="technology-container">

        <div class="technology-card">
            <h3>Python</h3>
            <p>Programming Language</p>
        </div>

        <div class="technology-card">
            <h3>Flask</h3>
            <p>Backend Framework</p>
        </div>

        <div class="technology-card">
            <h3>MySQL</h3>
            <p>Database</p>
        </div>

        <div class="technology-card">
            <h3>HTML</h3>
            <p>Structure</p>
        </div>

        <div class="technology-card">
            <h3>CSS</h3>
            <p>Styling</p>
        </div>

        <div class="technology-card">
            <h3>Jinja2</h3>
            <p>Template Engine</p>
        </div>

    </div>

</div>

<div class="about-card">

    <h2>Features</h2>

    <div class="feature-container">

        <div class="feature-card">
            <h3>👨‍🎓 Add Students</h3>
            <p>Add new student details to the system.</p>
        </div>

        <div class="feature-card">
            <h3>📋 View Students</h3>
            <p>View all registered student records.</p>
        </div>

        <div class="feature-card">
            <h3>🔍 Search Students</h3>
            <p>Quickly search for student information.</p>
        </div>

        <div class="feature-card">
            <h3>✏️ Edits Students</h3>
            <p>Update student information whenever required.</p>
        </div>

        <div class="feature-card">
            <h3>🗑️ Delete Students</h3>
            <p>Remove student records from the system.</p>
        </div>

    </div>

</div>

</div>

{% endblock %}