{% extends "base.html" %}

{% block title %}
Add Student - Student Management System
{% endblock %}


{% block content %}

<div class="form-container">

    <h1>Add New Student</h1>

    <p>Enter the student details below.</p>

    <form method="POST">

        <label>Name:</label>
        <input type="text" name="name" required>


        <label>Email:</label>
        <input type="email" name="email" required>


        <label>Course:</label>
        <input type="text" name="course" required>


        <label>Phone:</label>
        <input type="text" name="phone" required>


        <button type="submit" class="add-btn">
            Add Student
        </button>

    </form>

    <br>

    <a href="/">← Back to Student List</a>

</div>

{% endblock %}