{% extends "base.html" %}

{% block title %}
Home - Student Management System
{% endblock %}


{% block content %}

<h1>Student Management System</h1>

<p>Manage your students easily and efficiently.</p>

<a class="add-btn" href="/add">+ Add Student</a>


<h2>All Students</h2>



<form action="/" method="GET" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search student..."
        value="{{ search }}"
    >

    <button type="submit">Search</button>

</form>



<table>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>


    {% for student in students %}

    <tr>

        <td>{{ student[0] }}</td>

        <td>{{ student[1] }}</td>

        <td>{{ student[2] }}</td>

        <td>{{ student[3] }}</td>

        <td>{{ student[4] }}</td>

        <td>

            <a class="edit-btn"
               href="/edit/{{ student[0] }}">
                Edit
            </a>


            <a class="delete-btn"
               href="/delete/{{ student[0] }}"
               onclick="return confirm('Are you sure you want to delete this student?')">
                Delete
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}